/* ============================================== */
@font-face {
    font-family: 'PingFang';
    src: url('../font/PingFangSC-Medium.ttf') format('truetype'),
         url('../font/PingFangSC-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  .alert-box {
    position: fixed;
    top: 20px;
    right: -600px; /* 起始位置在右侧外 */
    width: 90%;
    max-width: 500px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000000;
    display: block; /* 默认显示，但会在右侧外 */
    font-family: "PingFang";
    transition: transform 0.5s ease-out, right 0.5s ease-out;
}

.alert-box.show {
    right: 0px; /* 显示时的位置 */
    transform: translateX(0); /* 向左滑入 */
}

.alert-box.hide {
    right: -600px; /* 隐藏时的位置 */
    transform: translateX(100%); /* 向右滑出 */
}
.alert-box.safe {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    font-family: "PingFang";
}
.alert-box.warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
    font-family: "PingFang";
}
.alert-box h4 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 1.4em;
    font-family: "PingFang";
}
.alert-message{
    font-size: 1.2em;
    font-family: "PingFang";
}
.fib .fi{
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    font-family: "PingFang";
}
/* ============================================== */
