body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {

    padding: 30px;
    border-radius: 8px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}
.div-logo{
    background-color: #ffffff;
    color: #1f1f1f;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.logo-nav{
    width: 100%;
    /* height: 100px; */
    /* margin-bottom: 10px; */
}
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.fu{
    text-align: center;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 12px;
    font-size: 1em;
    color: #444;
}

th {
    background-color: #f5f7fa;
    color: #555;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f9fafb;
}

tr:hover {
    background-color: #e0e6f4;
}

.btn {
    background-color: #5cb85c;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4cae4c;
}

/* 美化搜索框 */
.dataTables_filter input[type="search"] {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.dataTables_filter input[type="search"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* 美化分页按钮 */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px 16px;
    color: #007bff;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* 页脚样式 */
.footer {
    background-color: #ffffff;
    color: #1f1f1f;
    padding: 20px 0;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.website-info {
    font-size: 0.9em;
}


.lujing{
    text-align: center;
    font-size: 14px;
}