@font-face {
    font-family: 'MiSans';
    src: url('/font/MiSans-Medium.woff2') format('woff2');
    /* src: url('/asset/new_website_assets/font/PingFang.woff2') format('woff2'); */
    font-weight: 500; /* 根据字体实际权重调整 */
    font-style: normal;
    font-display: swap; /* 避免布局抖动 */
  }

.rounded-box {
    border-radius: 20px;
    background-color: #f5f5f7;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    /* max-width: 1200px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 初始为垂直排列 */
    align-items: center; /* 水平居中对齐 */
}
.rounded-iframe {
    border-radius: 20px;
    background-color: #f5f5f7;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    height: 220px;
    /* max-width: 1200px; */
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 初始为垂直排列 */
    align-items: center; /* 水平居中对齐 */
}

.rounded-box h1 {
    font-size: 3em;
    color: #1d1d1f;
    letter-spacing: 2px;
    display: flex; /* 使h1标签内的元素并排显示 */
    align-items: center; /* 垂直居中对齐 */
    font-family: 'MiSans';
    font-weight: bold;
}


.current {
    width: 4%;
    margin-right: 5px; /* 给图片右边添加一些间距 */
    margin-left: 10px;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .rounded-box {
        width: 90%;
    }
    .rounded-iframe {
        display: none;
    }
    .current {
        width: 10%;
    }
    
}
