.rounded-box {
    border-radius: 20px;
    background-color: #f5f5f7;
    margin: 5px auto;
    padding: 5px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 初始为垂直排列 */
    align-items: center; /* 水平居中对齐 */
}
.rounded-iframe {
    border-radius: 20px;
    background-color: #f5f5f7;
    margin: 5px auto;
    padding: 5px;
    width: 100%;
    height: 220px;
    max-width: 1200px;
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 初始为垂直排列 */
    align-items: center; /* 水平居中对齐 */
}

.rounded-box h1 {
    font-size: 2em;
    color: #1d1d1f;
    letter-spacing: 2px;
    display: flex; /* 使h1标签内的元素并排显示 */
    align-items: center; /* 垂直居中对齐 */
}

.current {
    width: 4%;
    margin-right: 5px; /* 给图片右边添加一些间距 */
    margin-left: 10px;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .rounded-box {
        width: 90%;
    }
    .rounded-iframe {
        width: 90%;
    }
    .current {
        width: 10%;
    }
}
