
@font-face {
    font-family: 'PingFang';
    src: url('/font/sf-pro-display_bold.woff2') format('truetype'),
         url('/font/PingFangSC-Medium.woff2') format('woff2');
    font-style: normal;
  }
  body {
    font-family: 'PingFang', sans-serif;
  }
  #user-input, #but ,#new-conversation,#version_di,#clear-cache,#go-home{
    font-family: 'PingFang', sans-serif; /* 确保输入框使用自定义字体 */
  }
  .custom-font-size {
  font-size: 20px; /* 设置为你想要的字体大小 */
}
  /* 确保消息气泡宽度占满父容器 */
  .message-content {
  max-width: 100%;
  word-break: break-word; /* 自动换行 */
}

  /* 公式样式 */
  .formula {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 20px;
  margin: 1rem 0;
  border-radius: 0.5rem;
  white-space: nowrap; /* 禁止自动换行 */
  overflow-x: auto; /* 横向滚动条 */
  border-radius: 10px;
}

/* 代码块样式 */
pre {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: auto; /* 横向滚动条 */
  margin: 10px 10px 10px 10px;
  background-color: gainsboro;
  border-radius: 20px;
}

code {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}
/* 限制标题宽度并启用省略号 */
#conversations span {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  max-width: 150px; /* 最大宽度，根据实际布局调整 */
}
/* 淡入淡出动画 */
#dynamic-title {
opacity: 0; /* 初始状态为透明 */
transition: opacity 0.5s ease-in-out; /* 平滑过渡效果 */
}

#dynamic-title.visible {
opacity: 1; /* 显示状态 */
}


/* From Uiverse.io by G4b413l */ 
.three-body {
--uib-size: 35px;
--uib-speed: 0.8s;
--uib-color: #5D3FD3;
position: relative;
display: inline-block;
height: var(--uib-size);
width: var(--uib-size);
animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
position: absolute;
height: 100%;
width: 30%;
}

.three-body__dot:after {
content: '';
position: absolute;
height: 0%;
width: 100%;
padding-bottom: 100%;
background-color: var(--uib-color);
border-radius: 50%;
}

.three-body__dot:nth-child(1) {
bottom: 5%;
left: 0;
transform: rotate(60deg);
transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
bottom: 0;
left: 0;
animation: wobble1 var(--uib-speed) infinite ease-in-out;
animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
bottom: 5%;
right: 0;
transform: rotate(-60deg);
transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
bottom: 0;
left: 0;
animation: wobble1 var(--uib-speed) infinite
  calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
bottom: -5%;
left: 0;
transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
top: 0;
left: 0;
animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}

@keyframes wobble1 {
0%,
100% {
transform: translateY(0%) scale(1);
opacity: 1;
}

50% {
transform: translateY(-66%) scale(0.65);
opacity: 0.8;
}
}

@keyframes wobble2 {
0%,
100% {
transform: translateY(0%) scale(1);
opacity: 1;
}

50% {
transform: translateY(66%) scale(0.65);
opacity: 0.8;
}
}

@media screen and (max-width: 680px) {
#cebian_logo{
  content: url('wisdom.svg');
}
#zhu_logo{
  content: url('/asset/icon_logo/hei_by_y_1.png');
}
#js{
  font-size: 0.8em;
}
}
